

    <h5><%= `${p.FirstName} ${p.LastName} #${p.Jersey}  `%> </h5>
    <p>Team: <%= p.Team %> </p>
    <p>Position: <%= p.Position  %> </p>
    <p>Status: <%= p.Status %> </p>
    <p>Salary: $<%= p.Salary %> </p>
    <p>Experience: <%= p.Experience %> </p>
  <img src="<%= p.PhotoUrl  %> " alt="photo">
  <div class="edit">
      <a href="/nba/edit">Edit</a>
  </div>
<form method="POST" action="/nba/comment">
    <input type="hidden" name="playerId" value="<%= p.PlayerID %>">
    <label for="name">Name</label>
    <input class="form-control" type="text" name="name" id="name">
    <label for="content">Content</label>
    <textarea class="form-control" type="text" name="content" id="content"></textarea> 
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>

  <% comments.forEach(c => { %>
    <%= c.content %> 

<% }) %>